
@model Bussiness.ViewModel.OrderViewModel
<style>
    .box-success {
        box-shadow: 10px 10px 5px #888888;
    }

    .payment-item {
        padding: 10px 20px;
        border-bottom: #ccc 1px dashed;
    }

        .payment-item:last-child {
            border-bottom: none;
        }

    .box-title {
        font-weight: bold;
    }
</style>
<div class="row" style="margin-bottom: 5px; margin-right: 0px;">
    @Html.ActionLink("Quay lại", "Index", "NewsGroup", null, new { @class = "btn btn-default", @style = "float:right; margin-right: 20px; margin-top: 10px" })
</div>

<div class="box-body">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin đặt hàng</h3>
                </div>
                <div class="box-body">
                    <div class="payment-item">
                        <b>Người đặt hàng :</b><br>
                        @Html.DisplayTextFor(m => m.FullName)
                    </div>
                    <div class="payment-item">
                        <b>Ngày đặt hàng :</b><br>
                        @Html.DisplayTextFor(m => m.OrderDate)
                    </div>
                    <div class="payment-item">
                        <b>Email & SĐT đặt hàng :</b><br>
                        @Html.DisplayTextFor(m => m.Email)
                        @Html.DisplayTextFor(m => m.PhoneNumber)
                    </div>
                    <div class="payment-item">
                        <b>Hình thức thanh toán :</b><br>
                        @Html.DisplayTextFor(m => m.TypePayment_str)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin nhận hàng</h3>
                </div>
                <div class="box-body">
                    <div class="payment-item">
                        <b>Họ tên người nhận :</b><br>
                        @Html.DisplayTextFor(m => m.Receiver)
                    </div>
                    <div class="payment-item">
                        <b>Số điện thoại :</b><br>
                        @Html.DisplayTextFor(m => m.PhoneReceiver)
                    </div>
                    <div class="payment-item">
                        <b>Địa chỉ :</b><br>
                        @Html.DisplayTextFor(m => m.Place)
                    </div>
                    <div class="payment-item">
                        <b>Ghi chú :</b><br>
                        @Html.DisplayTextFor(m => m.Notes)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin đơn hàng</h3>
                </div>
                <div class="box-body">
                    <div class="payment-item">
                        <b>Mã đơn hàng :</b><br>
                        @Html.DisplayTextFor(m => m.OrderCode)
                    </div>
                    <div class="payment-item">
                        <b>Ngày giao dự tính :</b><br>
                        @Html.DisplayTextFor(m => m.ExpectedDate)
                    </div>
                    <div class="payment-item">
                        <b>Tổng tiền :</b><br>
                        @Html.DisplayTextFor(m => m.TotalMoney)
                    </div>
                    <div class="payment-item">
                        <b>Tình trạng :</b><br>
                        @Html.DisplayTextFor(m => m.Status_str)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 colsm-12 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin chi tiết đơn hàng</h3>
                </div>
                <div class="table-responsive no-padding">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var row in Model.lstDetail)
                                {
                                    <tr>
                                        <td><img src="~/Images/images/san-pham/@row.Image" width="50" height="50" /></td>
                                        <td>@row.ProductName</td>
                                        <td>@row.Price</td>
                                        <td>@row.Amount</td>
                                        <td>@row.Total</td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
   
</div>

<!-- /.panel-body -->
