@model Bussiness.ViewModel.NewsViewModel
<div class="page-header"style="background-image: url(/Images/images/slide/tin-tuc.jpg);">
    <div class="container">
        <div class="row">
            <div class="title-header" >
                <span>Chi tiết tin </span>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="current-page">
        <div class="container">
            <ul class="pull-left">
                <li><a href="">Trang Chủ</a></li>
                <li>/</li>
                <li>Tin Tức</li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="content-news">
                        <h4 class="title-content-new">@Model.Title</h4>
                        <div class="inner-content-new new-details">
                            @Html.Raw(@Model.Content)
                        </div>
                        <div class="Reviews" style="background-color: #fff; border-top: 1px double #f5f5f5; padding-top: 20px">
                            @{
                                if (@Model.CanComment)
                                {
                                    @Html.Partial("_parComment")
                                }
                            }
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="widget">
                        @Html.Partial("_parDanhMucTin")
                        @Html.Partial("_parTinNoiBat")
                        <div class="fanpage">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fquapho.net%2F&tabs=S%E1%BB%B1%20ki%E1%BB%87n&width=255px&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="255px" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    (function() {
        var lstimg = $(".new-details img");
        lstimg.each(function() {
            $(this).css("height", '');
            $(this).css("width", '100%');
        });
    })();
</script>