@using NSX_Common
@model List<Bussiness.ViewModel.NewsViewModel>
<div class="blog">
    <div>
        <div class="title-blog text-center"><span>Tin mới nhất</span></div>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-4 col-md-4 blog-read">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <a href="/TinTuc/@Extentions.ToUnsignLinkString(@item.NameGroup)/@item.Id">
                                    <img src="~/Images/images/tin-tuc/@item.Image" class="img-responsive" style="height: 190px">
                                </a>
                                <div class="read-hover">
                                    <a href="/TinTuc/@Extentions.ToUnsignLinkString(@item.NameGroup)/@item.Id" class="read-more">Đọc thêm</a>
                                </div>
                                <div class="date-up">@item.PostedDate.ToShortDateString()</div>
                            </div>
                            <div class="blog-info">
                                <a href="/TinTuc/@Extentions.ToUnsignLinkString(@item.NameGroup)/@item.Id"><h3>@item.Title</h3></a>
                                <p>@item.Description...</p>
                                
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>